 body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #dff6ff;
}

#game {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background: skyblue;
  overflow: hidden;
  border: 2px solid #333;
}

#bird {
  position: absolute;
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50%;
  top: 200px;
  left: 80px;
}

.pipe {
  position: absolute;
  width: 60px;
  background: green;
  right: -60px;
}

.pipe-top {
  top: 0;
  height: 150px;
}

.pipe-bottom {
  bottom: 0;
  height: 200px;
}

#message {
  font-size: 18px;
  font-weight: bold;
  color: red;
}
